@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global styles start here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 0.5s;
}

a {
  text-decoration: none;
}
/* Global styles end here */

/* Hero section styles start here */
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}
/* Hero section styles end here */

/* Navbar styles start here */
.navbar {
  width: 95%;
  margin: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
}

.logo {
  width: 100px;
  cursor: pointer;
  filter: invert(1);
}

.logo:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
}

.navbar ul li a:hover {
  color: #ffffff;
}

.navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}
/* Navbar styles end here */

/* Title styles start here */
#title {
  position: absolute;
  text-align: left;
  padding-left: 7%;
  align-items: center;
  transform: translateY(50%);
}

#title h1 {
  font-size: 95px;
  font-weight: 100;
  color: #ffffff;
}

#title p {
  font-size: 35px;
  font-weight: 100;
  color: #ffffff;
}

#title a button {
  margin-top: 2em;
  background: transparent;
  border-color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}

#title a button:hover {
  border-color: #000;
  color: #000;
  background: #fff;
}

#title a button {
  color: #fff;
}

.top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background: lightgray;
  bottom: 1.5rem;
  right: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #333;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
/* Title styles end here */

/* Welcome section styles start here */
.welcome {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: center;
  padding: 25px;
  /* margin-top: 10px; */

}

.display-text,
.display-dish {
  width: 50%;
}

.animate-left.display-dish,
.animate-right.display-dish {
  position: relative;
  display: flex;
  justify-content: center;
}

.info {
  text-align: center;
}

.info h2 {
  font-size: 70px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: .2em;
}

.info p {
  font-size: 2.2rem;
  color: #3a3b3c;
  font-weight: 300;
  margin-top: -.5em;
}

.info p::before {
  content: "";
  height: 2px;
  width: 10px;
  top: 2px;
  background: #000000;
}

.welcome img {
  position: relative;
  display: flex;
  width: 95%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  justify-content: center;
  text-align: center;
  
}
/* Welcome section styles end here */

/* About section styles start here */
#about {
  position: relative;
  background: url(img/about.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.banner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  background: #0008;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.banner h3 {
  font-size: 32px;
  font-weight: 200;
  color: #ffffff;
  text-transform: uppercase;
}

.banner p {
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* About section styles end here */

/* Display section styles start here */
.welcome h3 {
  font-size: 3rem;
  font-weight: 200;
}

#down {
  margin-top: .8em;
}

#down a {
  text-decoration: none;
  color: #000;
}
#down a:hover {
  color: #fff;
}
/* Display section styles end here */

/* Testimonials carousel styles start here*/
.testimonials {
  width: 100%;
  height: 410px;
  position: relative;
  display: block;
}

.carousel {
  position: relative;
  display: flex;
  text-align: center;
  height: 400px;
  background-image: url(img/customers3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2.5rem;
}

.swiper-slide img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  padding: 1rem;
}

.swiper-slide p {
  font-size: 1rem;
  color: #ffffff;
  padding-left: 3rem;
  padding-right: 3rem;
  font-style: italic;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}

.swiper-pagination-bullet {
  background: #ffffff;
}
/* Testimonials carousel styles end here*/

/* Contact styles start here */
#contact {
  position: relative;
  display: flex;
  height: 250px;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.details1 {
  text-align: right;
  padding-right: 2.5rem;
}

.details2 {
  text-align: left;
  padding-left: 2.5rem;
}

.details-space {
  margin-top: 1.2rem;
}

.social {
  padding-right: 0.4rem;
}

.details2 .fa {
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
}

.details2 .fa:hover {
  color: gold;
  transition: 0.2s ease;
}
/* Contact styles end here */

/* Menu styles start here */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
  position: relative;
}

.splash {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(img/splash-all.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: -1;
}

.menu {
  padding: .5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
}

.title h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 6em;
  font-weight: 100;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.3em;
}

.btn-area {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: #000;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  color: #000;
  cursor: pointer;
  transition: 0.5s ease;
}

.filter-btn:hover {
  background: #000;
  color: #fff;
}

.menu-item {
  display: grid;
  grid-gap: 1rem 2rem;
  max-width: 25rem;

  width: 90vw;
  margin: 0 auto;
  justify-items: center;
  margin-bottom: 4em;
}

.menu-item.hide {
  display: none;
}

.menu-item.show {
  display: grid;
  justify-items: center;
  animation: showItem 0.5s ease;
}

@-webkit-keyframes showItem {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes showItem {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.photo {
  object-fit: cover;
  height: 250px;
  width: 300px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted gray;
  width: 300px;
}

.item-info h4 {
  margin-bottom: 0.5rem;
  width: 300px;
  color: #000;
}

.price {
  color: #000;
  text-align: right;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  width: 300px;
  color: #000;
}
/* Menu styles end here */

/* Responsive styles start here */
@media (max-width: 1100px) {
  #title h1 {
    font-size: 75px;
  }
  .info h2 {
    font-size: 3rem;
  }
  .info p {
    font-size: 1.8rem;
  }
  .welcome h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 991px) {
  .info h2 {
    font-size: 2.5rem;
  }
  .info p {
    font-size: 1.5rem;
  }
  .welcome h3 {
    font-size: 2rem;
  }
  .filter-btn {
    padding: 0.25rem 0.4rem;
  }
  #down {
    margin-top: .2em;
  }
}
@media (max-width: 799px) {
  .banner h3 {
    font-size: 25px;
  }
  .banner p {
    font-size: 16px;
  }
  .info h2 {
    font-size: 1.8rem;
  }
  .info p {
    font-size: 1.1rem;
  }
  .welcome h3 {
    font-size: 1.4rem;
  }
  .details1 {
    text-align: right;
    padding-right: 1.5rem;
  }
  .details2 {
    text-align: left;
    padding-left: 1.5rem;
  }
  .details1 h3,
  .details2 h3 {
    font-size: 1rem;
  }
  .details1 p,
  .details2 p {
    font-size: .8rem;
  }
  .details-space {
    margin-top: 1rem;
  }
  .map-responsive iframe {
    width: 250px;
    height: 160px;
  }
  .social {
    padding-right: 0.25rem;
  }
  .details2 .fa {
    font-size: 1rem;
  }
}
@media (max-width: 678px) {
  .navbar ul li {
    margin: 0 10px;
  }
  .swiper-slide img {
    height: 220px;
    width: 220px;
  }
  .swiper-slide p {
    font-size: .9rem;
  }
  .title h2 {
    font-size: 10px;
  }
}
@media (max-width: 550px) {
  .navbar ul li {
    margin: 0 5px;
    font-size: .9rem;
  }
}
/* Responsive styles end here */